/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2018, 2:37:11 PM
    Author     : student
*/
/*@font-face {
    font-family: "Bardzo fajna";
    src: url('../good times rg.ttf');
}
div.myform label {
    display: block;
    width: 30 vw;
    min-width: 10 cm;
    
    float: left;
    
}
div.myform input {
    display: block;
}

div.myform input[name="email"]{
    background-color: blanchedalmond;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    text-align: center;
    padding: .3em;
    font-family: "Bardzo fajna";
    font-size: 22pt;
    
}

a[href^="https://"] {
    background-color: red;
}
a[href^="mailto:"] {
   background-color: blue;
}
a[href*="pudelek"]{
    visibility: hidden;
}*/
